<!DOCTYPE html>
<html lang="en">

<head>
    <title>Download Youtube Videos For Free</title>
</head>

<body>
    <h1>Youtube video downloader</h1>
    <form action="http://localhost:8000/youtube/" method="POST">
        {% csrf_token %}

        <label for="link">Enter URL:</label>
        <input type="text" id="link" name="link"><br><br>
        <label for="Video Quality">Choose Video Quality:</label>
        <select id="Quality" name="Quality">
            <option value="best">High</option>
            <option value="best[height<=480]">Medium</option>
            <option value="worst">Low</option>
        </select> <br><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>
